@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body: palevioletred;
  --soul: mediumslateblue;
  --charisma: goldenrod;

  --coin: khaki;
  --material: lightgray;
}

html {
  scroll-behavior: smooth;
}

strong {
  font-weight: bold;
  color: #93c5fd;
}

em {
  font-style: italic;
}
