@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dnd-red: #b22222;
  --dnd-red-dark: #7f1d1d;
  --dnd-ink: #2b1d0e;

  --body: palevioletred;
  --soul: mediumslateblue;
  --charisma: goldenrod;

  --coin: khaki;
  --material: lightgray;

  --red: #f8717140;
  --blue: #60a5fa40;
  --green: #34d39940;
  --yellow: #fbbf2440;
  --purple: #a78bfa40;
}

html {
  scroll-behavior: smooth;
}
