@import "tailwindcss";

@theme {
  --color-dnd-red: #922610;

  --font-libre-baskerville: "Libre Baskerville", serif;
  --font-merriweather: "Merriweather", serif;
}

body {
  @apply bg-white text-gray-900 font-merriweather text-sm;
  background: url("../public/bg.jpg") center center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold font-libre-baskerville text-dnd-red;
}

input {
  @apply bg-white/80 rounded-none border border-gray-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-dnd-red focus:border-dnd-red;
}

button,
a.button {
  @apply bg-dnd-red text-white px-4 py-2 hover:bg-dnd-red/80 transition-colors duration-200 hover:cursor-pointer;
}
