@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body: palevioletred;
  --soul: mediumslateblue;
  --charisma: goldenrod;

  --coin: khaki;
  --material: lightgray;
}

strong {
  font-weight: bold;
  color: #93c5fd;
}

em {
  font-style: italic;
}

.desktop-navbar-link:last-child {
  margin-bottom: 0.75rem;
}

.d4 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  width: 60px;
  height: 60px;

  background-color: white;
  color: rgb(31, 41, 55);
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;

  clip-path: polygon(50% 10%, 0% 100%, 100% 100%);
}

.d6 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  width: 50px;
  height: 50px;

  background-color: white;
  color: rgb(31, 41, 55);
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

.d8 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  width: 65px;
  height: 65px;

  background-color: white;
  color: rgb(31, 41, 55);
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.d10 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  width: 60px;
  height: 60px;

  background-color: white;
  color: rgb(31, 41, 55);
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  clip-path: polygon(50% 0%, 100% 40%, 100% 60%, 50% 100%, 0% 60%, 0% 40%);
}

.d12 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  width: 55px;
  height: 55px;

  background-color: white;
  color: rgb(31, 41, 55);
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5em;

  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.d20 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  width: 62px;
  height: 55px;

  background-color: white;
  color: rgb(31, 41, 55);
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
