@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body: palevioletred;
  --soul: mediumslateblue;
  --charisma: goldenrod;

  --coin: khaki;
  --material: lightgray;
}

strong {
  font-weight: bold;
  color: #93c5fd;
}

em {
  font-style: italic;
}

.desktop-navbar-link:last-child {
  margin-bottom: 0.75rem;
}
