@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body: palevioletred;
  --soul: mediumslateblue;
  --charisma: goldenrod;

  --coin: khaki;
  --material: lightgray;

  --red: #f8717140;
  --blue: #60a5fa40;
  --green: #34d39940;
  --yellow: #fbbf2440;
  --purple: #a78bfa40;
}

html {
  scroll-behavior: smooth;
}

strong {
  font-weight: bold;
  color: #93c5fd;
}

em {
  font-style: italic;
}
